/*
taken from layout from Layout Gala #14
*/
 @CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0
}

body {
	font: 76% arial, sans-serif
}

p {
	margin: 0 10px 10px
}

div#container div#header a {
	display: inline;
	color: #006;
	padding: 10px
}

a {
	color: #006
}

div#header a.logo {
	position: relative;
	left: 0;
	top: 23px
}

div#header {
	position: relative
}

div#header h1 {
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding-left: 10px;
	background: #EEE;
	color: #79B30B
}

div#header a {
	position: absolute;
	right: 0;
	top: 23px
}

div#content p {
	line-height: 1.4
}

div#navigation {
	background: #B9CAFF
}

div#extra {
	background: #FF8539
}

div#footer {
	background: #333;
	color: #FFF
}

div#footer p {
	margin: 0;
	padding: 5px 10px
}

div#footer a {
	display: inline;
	padding: 0;
	color: #C6D5FD
}

div#wrapper {
	float: left;
	width: 100%
}

div#content {
	margin: 0 200px 0 33%
}

div#navigation {
	float: left;
	width: 33%;
	margin-left: -100%
}

div#extra {
	float: left;
	width: 200px;
	margin-left: -200px
}

div#footer {
	clear: left;
	width: 100%
}

label {
	width: 10em;
	float: left;
}

label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
}